<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8" />
		<title>Regex pair</title>
		<link rel="stylesheet" href="regex-pair.css" />
	</head>
	<body>

			<h1>Regex pair</h1>
<!--
default layout
.regex-pair
	[find    ][flags][replace  ][expand]

----------------
long (single line) layout
.regex-pair--long-line
	[find                       ][flags]
	[replace                   ][expand]

----------------
Multi line layout
.regex-pair--multi-line
	[find           ][replace          ]
	[        [flags]][         [expand]]

----------------
expanded layout
	                          [collapse]
	[[delimiter         ]][[add before]]
	[[transform WS chars]][    [delete]]
	[[do replace on test]][ [add after]]

-->


		<button class="regex-pair__add regex-pair__add--before" name="regex-pair__add--before" id="regex-pair__add-between-1">Add <span class="sr-only">new regex</span> before</button>

		<article id="regex-pair--1" class="regex-pair">
			<main class="regex-pair__main">
				<div class="regex-pair__find">
					<label for="regex-pair--1__replace">Regex</label>
					<input type="text" class="regex-pair__input regex-pair__input--find" name="regex-pair--1__find" id="regex-pair--1__find" aria-describedby="regex-pair--1__error" value="" />
					<span class="regex-pair__error" id="regex-pair__error"></span>
				</div>
				<div class="regex-pair__modifiers">
					<label for="regex-pair--1__modifiers">Modifiers</label>
					<input type="text" class="regex-pair__input regex-pair__input--modifiers" name="regex-pair--1__modifiers" id="regex-pair--1__modifiers" value="" />
				</div>
				<div class="regex-pair__replace">
					<label for="regex-pair--1__replace">Replace</label>
					<input type="text" class="regex-pair__input regex-pair__input--replace" name="regex-pair--1__replace" id="regex-pair--1__replace" value="" />
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--open" name="regex-pair--1__extra-open" id="regex-pair--1__extra-open" data-id="1">Open</button>
			</main>
			<footer class="regex-pair__extra regex-pair__extra--open" id="regex-pair--1__extra">
				<div class="regex-pair__extra__inputs">
					<div class="regex-pair__delimiter">
						<label for="regex-pair--1__delimiter">Delimiter</label>
						<input type="text" class="regex-pair__delimiter" name="regex-pair--1__delimiter" id="regex-pair--1__delimiter" value="" />
					</div>
					<label class="regex-pair__transformWhitespaceCharacters">
						<input type="checkbox" name="regex-pair--1__transformWhitespaceCharacters" id=" regex-pair--1__transformWhitespaceCharacters" value="true" />
						Transform escaped whitespace characters in replace string
					</label>
					<label class="regex-pair__doReplaceOnTest">
						<input type="checkbox" name="regex-pair--1__doReplaceOnTest" id=" regex-pair--1__doReplaceOnTest" value="true" />
						Do replace on test
					</label>
				</div>
				<div class="regex-pair__extra__actions">
					<button class="regex-pair__delete" name="regex-pair--1__delete" id="regex-pair--1__delete">Delete this regex</button>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--close" name="regex-pair--1__extra-close" id="regex-pair--1__extra-close" data-id="1">Close</button>
			</footer>
		</article>

		<button class="regex-pair__add regex-pair__add--between" name="regex-pair__add--between--1-2" id="regex-pair__add--between--1-2">Add <span class="sr-only">new regex</span> between</button>

		<article id="regex-pair--2" class="regex-pair regex-pair--long-line">
			<main class="regex-pair__main">
				<div class="regex-pair__find">
					<label for="regex-pair--2__find">Regex</label>
					<input type="text" class="regex-pair__input regex-pair__input--find" name="regex-pair--2__find" id="regex-pair--2__find" value="" />
				</div>
				<div class="regex-pair__modifiers">
					<label for="regex-pair--2__modifiers">Modifiers</label>
					<input type="text" class="regex-pair__input regex-pair__input--modifiers" name="regex-pair--2__modifiers" id="regex-pair--2__modifiers" value="" />
				</div>
				<div class="regex-pair__replace">
					<label for="regex-pair--2__replace">Replace</label>
					<input type="text" class="regex-pair__input regex-pair__input--replace" name="regex-pair--2__replace" id="regex-pair--2__replace" value="" />
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--open" name="regex-pair--2__extra-open" id="regex-pair--2__extra-open" data-id="2">Open</button>
			</main>
			<footer class="regex-pair__extra regex-pair__extra--open" id="regex-pair--2__extra">
				<div class="regex-pair__extra__inputs">
					<div class="regex-pair__delimiter">
						<label for="regex-pair--2__delimiter">Delimiter</label>
						<input type="text" class="regex-pair__delimiter" name="regex-pair--2__delimiter" id="regex-pair--2__delimiter" value="" />
					</div>
					<label class="regex-pair__transformWhitespaceCharacters">
						<input type="checkbox" name="regex-pair--2__transformWhitespaceCharacters" id=" regex-pair--2__transformWhitespaceCharacters" value="true" />
						Transform escaped whitespace characters in replace string
					</label>
					<label class="regex-pair__doReplaceOnTest">
						<input type="checkbox" name="regex-pair--2__doReplaceOnTest" id=" regex-pair--2__doReplaceOnTest" value="true" />
						Do replace on test
					</label>
				</div>
				<div class="regex-pair__extra__actions">
					<button class="regex-pair__delete" name="regex-pair--2__delete" id="regex-pair--2__delete">Delete this regex</button>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--close" name="regex-pair--2__extra-close" id="regex-pair--2__extra-close" data-id="2">Close</button>
			</footer>
		</article>

		<button class="regex-pair__add regex-pair__add--between" name="regex-pair__add--between--2-3" id="regex-pair__add--between--2-3">Add <span class="sr-only">new regex</span> between</button>

		<article id="regex-pair--3" class="regex-pair regex-pair--multi-line">
			<main class="regex-pair__main">
				<div class="regex-pair__find">
					<label for="regex-pair--3__find">Regex</label>
					<textarea class="regex-pair__input regex-pair__input--find" name="regex-pair--3__find" id="regex-pair--3__find"></textarea>
				</div>
				<div class="regex-pair__modifiers">
					<label for="regex-pair--3__modifiers">Modifiers</label>
					<input type="text" class="regex-pair__input regex-pair__input--modifiers" name="regex-pair--3__modifiers" id="regex-pair--3__modifiers" value="" />
				</div>
				<div class="regex-pair__replace">
					<label for="regex-pair--3__replace">Replace</label>
					<textarea class="regex-pair__input regex-pair__input--replace" name="regex-pair--3__replace" id="regex-pair--3__replace"></textarea>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--open" name="regex-pair--3__extra-open" id="regex-pair--3__extra-open" data-id="3">Open</button>
			</main>
			<footer class="regex-pair__extra regex-pair__extra--open" id="regex-pair--3__extra">
				<div class="regex-pair__extra__inputs">
					<div class="regex-pair__delimiter">
						<label for="regex-pair--3__delimiter">Delimiter</label>
						<input type="text" class="regex-pair__delimiter" name="regex-pair--3__delimiter" id="regex-pair--3__delimiter" value="" />
					</div>
					<label class="regex-pair__transformWhitespaceCharacters">
						<input type="checkbox" name="regex-pair--3__transformWhitespaceCharacters" id=" regex-pair--3__transformWhitespaceCharacters" value="true" />
						Transform escaped whitespace characters in replace string
					</label>
					<label class="regex-pair__doReplaceOnTest">
						<input type="checkbox" name="regex-pair--3__doReplaceOnTest" id=" regex-pair--3__doReplaceOnTest" value="true" />
						Do replace on test
					</label>
				</div>
				<div class="regex-pair__extra__actions">
					<button class="regex-pair__delete" name="regex-pair--3__delete" id="regex-pair--3__delete">Delete this regex</button>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--close" name="regex-pair--3__extra-close" id="regex-pair--3__extra-close" data-id="3">Close</button>
			</footer>
		</article>

		<button class="regex-pair__add regex-pair__add--between" name="regex-pair__add--between--3-4" id="regex-pair__add--between--3-4">Add <span class="sr-only">new regex</span> between</button>

		<article id="regex-pair--4" class="regex-pair">
			<main class="regex-pair__main">
				<div class="regex-pair__find">
					<label for="regex-pair--4__replace">Regex</label>
					<input type="text" class="regex-pair__input regex-pair__input--find" name="regex-pair--4__find" id="regex-pair--4__find" aria-describedby="regex-pair--4__error" value="" />
					<span class="regex-pair__error" id="regex-pair__error"></span>
				</div>
				<div class="regex-pair__modifiers">
					<label for="regex-pair--4__modifiers">Modifiers</label>
					<input type="text" class="regex-pair__input regex-pair__input--modifiers" name="regex-pair--4__modifiers" id="regex-pair--4__modifiers" value="" />
				</div>
				<div class="regex-pair__replace">
					<label for="regex-pair--4__replace">Replace</label>
					<input type="text" class="regex-pair__input regex-pair__input--replace" name="regex-pair--4__replace" id="regex-pair--4__replace" value="" />
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--open" name="regex-pair--4__extra-open" id="regex-pair--4__extra-open" data-id="4">Open</button>
			</main>
			<footer class="regex-pair__extra regex-pair__extra--open" id="regex-pair--4__extra">
				<div class="regex-pair__extra__inputs">
					<div class="regex-pair__delimiter">
						<label for="regex-pair--4__delimiter">Delimiter</label>
						<input type="text" class="regex-pair__delimiter" name="regex-pair--4__delimiter" id="regex-pair--4__delimiter" value="" />
					</div>
					<label class="regex-pair__transformWhitespaceCharacters">
						<input type="checkbox" name="regex-pair--4__transformWhitespaceCharacters" id=" regex-pair--4__transformWhitespaceCharacters" value="true" />
						Transform escaped whitespace characters in replace string
					</label>
					<label class="regex-pair__doReplaceOnTest">
						<input type="checkbox" name="regex-pair--4__doReplaceOnTest" id=" regex-pair--4__doReplaceOnTest" value="true" />
						Do replace on test
					</label>
				</div>
				<div class="regex-pair__extra__actions">
					<button class="regex-pair__delete" name="regex-pair--4__delete" id="regex-pair--4__delete">Delete this regex</button>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--close" name="regex-pair--4__extra-close" id="regex-pair--4__extra-close" data-id="4">Close</button>
			</footer>
		</article>

		<button class="regex-pair__add regex-pair__add--between" name="regex-pair__add--between--4-5" id="regex-pair__add--between--4-5">Add <span class="sr-only">new regex</span> between</button>

		<article id="regex-pair--5" class="regex-pair regex-pair--long-line">
			<main class="regex-pair__main">
				<div class="regex-pair__find">
					<label for="regex-pair--5__find">Regex</label>
					<input type="text" class="regex-pair__input regex-pair__input--find" name="regex-pair--5__find" id="regex-pair--5__find" value="" />
				</div>
				<div class="regex-pair__modifiers">
					<label for="regex-pair--5__modifiers">Modifiers</label>
					<input type="text" class="regex-pair__input regex-pair__input--modifiers" name="regex-pair--5__modifiers" id="regex-pair--5__modifiers" value="" />
				</div>
				<div class="regex-pair__replace">
					<label for="regex-pair--5__replace">Replace</label>
					<input type="text" class="regex-pair__input regex-pair__input--replace" name="regex-pair--5__replace" id="regex-pair--5__replace" value="" />
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--open" name="regex-pair--5__extra-open" id="regex-pair--5__extra-open" data-id="5">Open</button>
			</main>
			<footer class="regex-pair__extra regex-pair__extra--open" id="regex-pair--5__extra">
				<div class="regex-pair__extra__inputs">
					<div class="regex-pair__delimiter">
						<label for="regex-pair--5__delimiter">Delimiter</label>
						<input type="text" class="regex-pair__delimiter" name="regex-pair--5__delimiter" id="regex-pair--5__delimiter" value="" />
					</div>
					<label class="regex-pair__transformWhitespaceCharacters">
						<input type="checkbox" name="regex-pair--5__transformWhitespaceCharacters" id=" regex-pair--5__transformWhitespaceCharacters" value="true" />
						Transform escaped whitespace characters in replace string
					</label>
					<label class="regex-pair__doReplaceOnTest">
						<input type="checkbox" name="regex-pair--5__doReplaceOnTest" id=" regex-pair--5__doReplaceOnTest" value="true" />
						Do replace on test
					</label>
				</div>
				<div class="regex-pair__extra__actions">
					<button class="regex-pair__delete" name="regex-pair--5__delete" id="regex-pair--5__delete">Delete this regex</button>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--close" name="regex-pair--5__extra-close" id="regex-pair--5__extra-close" data-id="5">Close</button>
			</footer>
		</article>

		<button class="regex-pair__add regex-pair__add--between" name="regex-pair__add--between--5-6" id="regex-pair__add--between--5-6">Add <span class="sr-only">new regex</span> between</button>

		<article id="regex-pair--6" class="regex-pair regex-pair--multi-line">
			<main class="regex-pair__main">
				<div class="regex-pair__find">
					<label for="regex-pair--6__find">Regex</label>
					<textarea class="regex-pair__input regex-pair__input--find" name="regex-pair--6__find" id="regex-pair--6__find"></textarea>
				</div>
				<div class="regex-pair__modifiers">
					<label for="regex-pair--6__modifiers">Modifiers</label>
					<input type="text" class="regex-pair__input regex-pair__input--modifiers" name="regex-pair--6__modifiers" id="regex-pair--6__modifiers" value="" />
				</div>
				<div class="regex-pair__replace">
					<label for="regex-pair--6__replace">Replace</label>
					<textarea class="regex-pair__input regex-pair__input--replace" name="regex-pair--6__replace" id="regex-pair--6__replace"></textarea>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--open" name="regex-pair--6__extra-open" id="regex-pair--6__extra-open" data-id="6">Open</button>
			</main>
			<footer class="regex-pair__extra regex-pair__extra--open" id="regex-pair--6__extra">
				<div class="regex-pair__extra__inputs">
					<div class="regex-pair__delimiter">
						<label for="regex-pair--6__delimiter">Delimiter</label>
						<input type="text" class="regex-pair__delimiter" name="regex-pair--6__delimiter" id="regex-pair--6__delimiter" value="" />
					</div>
					<label class="regex-pair__transformWhitespaceCharacters">
						<input type="checkbox" name="regex-pair--6__transformWhitespaceCharacters" id=" regex-pair--6__transformWhitespaceCharacters" value="true" />
						Transform escaped whitespace characters in replace string
					</label>
					<label class="regex-pair__doReplaceOnTest">
						<input type="checkbox" name="regex-pair--6__doReplaceOnTest" id=" regex-pair--6__doReplaceOnTest" value="true" />
						Do replace on test
					</label>
				</div>
				<div class="regex-pair__extra__actions">
					<button class="regex-pair__delete" name="regex-pair--6__delete" id="regex-pair--6__delete">Delete this regex</button>
				</div>
				<button class="regex-pair__extra-action regex-pair__extra-action--close" name="regex-pair--6__extra-close" id="regex-pair--6__extra-close" data-id="6">Close</button>
			</footer>
		</article>




		<button class="regex-pair__add regex-pair__add--after" name="regex-pair__add--after" id="regex-pair__add--after">Add <span class="sr-only">new regex</span> after</button>

		<script src="jquery-3.3.1.min.js" type="text/javascript"></script>
		<script src="regex-pair.js" type="text/javascript"></script>
	</body>
</html>